
@media screen and (max-width: 1024px) {
    [aria-controls="navbarDropdown"] {
        display: block;
        position: absolute;
        right: var(--size-30px);
        top: var(--size-25px);
        outline: none;
        background-color: transparent;
        border:1px solid transparent;
        font-size: var(--size-20px);
    }

    [aria-expanded="false"] ~ .nav-full {
        display: none;
    }

    [aria-expanded="true"] ~ .nav-full {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        text-align: center;
        height: 100vh;
        background-color: white;
        border-top: 2px solid lightgrey;
        padding-top: 50px;
    }

    [aria-expanded="true"] ~ header {
        background-color: white;
    }

    header { flex-direction: column; }

    .header-left { 
        align-self: flex-start;
        margin-top: 10px;
     }

    nav {
        width: 100%;
    }

    .nav-links { gap: 25px; }

    .freedom-icons {
        display: flex;
        flex-direction: column;
        gap: var(--size-100px);
    }
/* fine tune icons */
    .icongrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: var(--size-30px);
    }

    .icon1 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        position: relative;
        left: var(--size-20px);
    }

    .icon2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .icon3 {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }

    .icon4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        position: relative;
        bottom: var(--size-20px);
    }

    .icon5 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .icon6 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .icon7 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
/* YOU ONLY NEED TO ADD CHANGES, NOT WHOLE CSS PROPERTIES */
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 17rem;
        width: 400px;
        box-shadow: 0px 10px 15px 7px lightgrey;
    }

    .card p {
        color: grey;
        line-height: var(--size-25px);
        width: 18.938rem;
        font-size: var(--size-15px);
    }

    .front {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 60px;
    }

    .front-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-30px);
        position: relative;
        bottom: var(--size-40px);
    }

    .front-left h2 {
        margin: 0;
        font-size: var(--size-25px);
        width: 560px;
        text-align: center;
    }

    .front img {
        width: auto;
    }



    .hubspot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--size-100px) var(--size-40px);
        justify-content: space-between;
        gap: var(--size-150px);
    }

    .portrait { 
        height: auto;
    }

    .portrait img:nth-of-type(2) {
        top: 110px;
        right: 540px;
    }

    .hubtext {
        width: 630px;
        text-align: center;
        margin-bottom: var(--size-100px);
    }

    .hubtext img { width: var(--size-150px); }

    .hubtext p {
        font-size: var(--size-25px);
        margin: var(--size-55px) 0;
        line-height: var(--size-28px);
    }

    .pricecards {
        flex-direction: column;
    }

    .maincard {
        box-shadow: 0px 10px 15px 7px lightgrey;
        height: 450px;
        width: 100%;
    }

    .cardcontainer { 
        text-align: center;
        width: 100%;
     }

    .cardTop h2 {
        font-size: var(--size-60px);
        font-weight: initial;
        margin-bottom: var(--size-40px);
    }

    .cardTop p {
        font-size: var(--size-25px);
        text-align: left;
        color: grey;
        width: 100%;
    }

    .priceButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .pricegrid { margin: 25px; }

    .griditem h2,
    .griditem p { font-size: var(--size-25px); }

    .hf { flex-direction: column; }

    .hireus {
        display: flex;
        gap: 60px;
        margin: var(--size-50px) 0;
    }

    form {
        margin: var(--size-50px);
        width: auto;
    }

}

@media screen and (max-width: 768px) {
    .header-left img {
        height: var(--size-40px);
        margin: var(--size-20px);
    }

    .freedom-icons {
        gap: var(--size-50px);
        margin: var(--size-100px) var(--size-20px);
    }

    .freedom-text {
        text-align: center;
    }

    .freedom-text h2 {
        font-size: var(--size-28px);
    }

    .freedom-bottom a {
        font-size: var(--size-15px);
    }

    .freedom-bottom {
        justify-content: center;
        gap: 35px;
    }

    .freedom-bottom button {
        height: 45px;
        width: 120px;
    }

    .icongrid {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--size-17px);
    }

    .large-icon {
        height: var(--size-70px);
        width: var(--size-70px);
    }

    .small-icon {
        height: var(--size-55px);
        width: var(--size-55px);
    }

    .small-icon img { height: 70%; }

    .icon1 { 
        grid-column: 4 / 5;
        position: static;
    }

    .icon2 { 
        grid-column: 2 / 3;
        position: relative;
        left: var(--size-20px);
    }

    .icon3 {
        grid-column: 4 / 5;
        position: relative;
        right: var(--size-28px);
    }

    .icon4 { grid-column: 2 / 3; }

    .icon5 { grid-column: 1 / 2; }

    .icon6 { grid-column: 1 / 2; }

    .icon7 { grid-column: 3 / 4; }

    .front-left {
        font-size: var(--size-28px);
        width: 280px;
        text-align: center;
    }

    .front-left h2 { width: auto; }

    .front img { width: 100%; }

    .why-text p { width: 350px; }

    .display {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .display .line { display: none; }

    .circle-text { 
        flex-direction: row; 
        gap: 50px;
    }

    .circle-text h2 { text-align: left; }

    .play-icon img {
        margin: 0;
    }

    .hubspot {
        gap: 0;
    }

    .portrait img:first-of-type {
        width: 100%;
        height: 100%;
        margin-left: 15px;
    }

    .portrait img:nth-of-type(2) {
        width: 60%;
        top: -55px;
        right: 320px;
    }

    .hubtext { width: auto; }

    .brandnames {
        flex-direction: column;
        gap: var(--size-20px);
        align-items: center;
    }

    .hireus {
        flex-direction: column;
        align-items: center;
    }

    .tablet-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .toptext { width: 100%; }

    .toptext p { font-size: var(--size-15px); }

    .quote { width: 330px; }

    .title { text-align: center; }

    .maincard {
        height: 100%;
        width: 100%;
    }

    .cardTop p { font-size: var(--size-17px); }

    .priceButton p { font-size: var(--size-10px); }

    .pricegrid { 
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        row-gap: var(--size-30px);
    }

    .griditem img { height: var(--size-50px); }

    .griditem h2 { font-size: var(--size-18px); }

    .griditem p {
        line-height: var(--size-25px);
        font-size: 14px;
    }

    form {
        margin: 0 var(--size-10px) var(--size-50px);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        padding: var(--size-20px);
        row-gap: var(--size-10px);
    }

    form h3 { grid-column: 1; }

    form input { 
        grid-column: 1; 
        height: 50px;
    }

    form input:nth-of-type(4) {
        grid-row: 5 / 6;
    }

    .privf {
        grid-row: 10 /11;
        justify-self: left;
        margin-bottom: var(--size-20px);
    }

    form .checkbox { grid-column: 1; }

    form select { 
        grid-column: 1; 
        height: 50px;
    }

    form textarea { 
        grid-column: 1;
        grid-row: 8 / 9; 
    }

    .privs { display: none; }

    form button { 
        grid-column: 1; 
        grid-row: 11 / 12;
        height: var(--size-50px);
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footertop { flex-direction: column; }

    .ftop-left { align-items: center; }

    .footer-links {
        justify-content: center;
        text-align: center;
    }
    
    .footer-links h3 { font-size: 15px;}

    .company, .company-links, 
    .features, .featureslinks, 
    .documentations, .documentationlinks, 
    .resources, .resourceslinks {
        align-items: center;
    }

    .bottop { flex-direction: column;}
}