
@media screen and (max-width: 1023px) {
    [aria-controls="navbarDropdown"] {
        display: block;
    }

    [aria-expanded="false"] ~ .nav-full {
        display: none;
    }

    [aria-expanded="true"] ~ .nav-full {
        display: block;
    }

    .freedom-icons {
        display: flex;
        flex-direction: column;
        gap: var(--size-100px);
    }
/* fine tune icons */
    .icongrid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: var(--size-30px);
    }

    .icon1 {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
        position: relative;
        left: var(--size-20px);
    }

    .icon2 {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .icon3 {
        grid-column: 5 / 6;
        grid-row: 3 / 4;
    }

    .icon4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        position: relative;
        bottom: var(--size-20px);
    }

    .icon5 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .icon6 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .icon7 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
/* YOU ONLY NEED TO ADD CHANGES, NOT WHOLE CSS PROPERTIES */
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 17rem;
        width: 400px;
        box-shadow: 0px 10px 15px 7px lightgrey;
    }

    .card p {
        color: grey;
        line-height: var(--size-25px);
        width: 18.938rem;
        font-size: var(--size-15px);
    }

    .front {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: var(--size-100px) var(--size-40px);
    }

    .front-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--size-30px);
        position: relative;
        bottom: var(--size-40px);
    }

    .front-left h2 {
        margin: 0;
        font-size: var(--size-25px);
        width: 560px;
        text-align: center;
    }

    .front img {
        width: auto;
    }

    .hubspot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--size-100px) var(--size-40px);
        justify-content: space-between;
        gap: 0;
    }

    .hubtext {
        width: 630px;
        text-align: center;
        margin-bottom: var(--size-100px);
    }

    .hubtext img { width: var(--size-150px); }

    .hubtext p {
        font-size: var(--size-25px);
        margin: var(--size-55px) 0;
        line-height: var(--size-28px);
    }

    .pricecards {
        flex-direction: column;
    }

    .maincard {
        box-shadow: 0px 10px 15px 7px lightgrey;
        height: 450px;
        width: 100%;
    }

    .cardcontainer { 
        text-align: center;
        width: 100%;
     }

    .cardTop h2 {
        font-size: var(--size-60px);
        font-weight: initial;
        margin-bottom: var(--size-40px);
    }

    .cardTop p {
        font-size: var(--size-25px);
        text-align: left;
        color: grey;
        width: 100%;
    }

    .priceButton {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pricegrid { margin: 25px; }

    .griditem h2,
    .griditem p { font-size: var(--size-25px); }

    .hf { flex-direction: column; }

    .hireus {
        display: flex;
        gap: 60px;
        margin: var(--size-50px) var(--size-100px);
    }

    form {
        margin: var(--size-50px);
        width: auto;
    }

}