:root {
    font-family: Arial, sans-serif;
    --size-1rem: 1rem;
    --size-3px: 0.188rem;
    --size-5px: 0.313rem;
    --size-10px: .75rem;
    --size-15px: 0.938rem;
    --size-17px: 1.063rem;
    --size-18px: 1.125rem;
    --size-20px: 1.25rem;
    --size-25px: 1.563rem;
    --size-28px: 1.75rem;
    --size-30px: 1.875rem;
    --size-35px: 2.188rem;
    --size-40px: 2.5rem;
    --size-50px: 3.125rem;
    --size-55px: 3.438rem;
    --size-60px: 3.75rem;
    --size-70px: 4.375rem;
    --size-80px: 5rem;
    --size-100px: 6.25rem;
    --size-150px: 9.375rem;
    --size-200px: 12.5rem;
    --size-660px: 41.25rem;
    --weight-regular: 400;
    --weight-bold: 700;
    --color-primary: #0c6bff;
    --color-secondary: #07cc81;
    --color-grey: #6d7c8b;
    --color-dark: #202021;
    --color-light: #f4f5f9;
    --shadow-light: 0px 4px 7px 3px lightgrey;
}

body {
    margin: 0;
    padding: 0;
}

.header, .container, .content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.for-back {
    background-image: url(../backgrounds/background-top.svg);
}

header {
    display: flex;
    justify-content: space-between;
    margin: var(--size-10);
    align-items: center;
}

.header-left img {
    height: var(--size-50px);
    margin-left: var(--size-40px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-10px);
    gap: var(--size-15px);
}

.nav-full {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    width: 26.25rem;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
    color: grey;
    font-size: 1.188rem;
    margin: 0;
}

[aria-controls="navbarDropdown"] {
    display: none;
}

.button input {
    border: none;
    border-radius: var(--size-30px);
    height: var(--size-50px);
    width: 7.125rem;
    background: #0c6bff;
    color: white;
    margin-right: var(--size-15px);
}

.freedom-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--size-100px) var(--size-40px);
}

.freedom {
    display: flex;
    flex-direction: column;
    gap: var(--size-20px);
}

.freedom {
    max-width: 25.25rem;
}

.freedom-text h2 {
    max-width: 22.5rem;
    font-size: 2.938rem;
    font-weight: normal;
    margin: 0;
}

.freedom-bottom {
    display: flex;
    align-items: center;
    gap: var(--size-40px);
}

.freedom-bottom button {
    background-color: #0c6bff;
    color: white;
    border: none;
    border-radius: var(--size-40px);
    height: var(--size-55px);
    width: var(--size-150px);
    font-size: 0.813rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-5px);
}

.freedom-bottom button i {
    font-size: var(--size-20px);
}

.freedom-bottom a {
    text-decoration: none;
    color: #0c6bff;
    font-weight: bold;
    font-size: var(--size-20px);
}

.icongrid img {
    height: 70%;
}

.icongrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: var(--size-20px);
}

.large-icon, .small-icon { box-shadow: 0px 4px 7px 3px lightgrey; }

.large-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size-80px);
    width: var(--size-80px);
    border-radius: var(--size-55px);
    background-color: white;
}

.small-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size-55px);
    width: var(--size-55px);
    border-radius: 1.75rem;
    background-color: white;
}

.icon1 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.icon2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.icon3 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.icon4 {
    grid-column: 2/3;
    grid-row: 4/5;
    position: relative;
    bottom: var(--size-15px);
}

.icon5 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.icon6 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.icon7 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.cards {
    margin: var(--size-100px) var(--size-25px);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.188rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 22rem;
    width: 215px;
    box-shadow: 0px 10px 15px 7px lightgrey;
}

.cards-top-text {
    text-align: center;
}

.cards-top-text h2 {
    font-size: var(--size-30px);
}

.cards-top-text p {
    font-size: var(--size-20px);
    margin-bottom: 4.375rem;
    color: grey;
}

.card h3, .card p, .card a { margin: 0 var(--size-15px);}

.card img {
    margin: 0 var(--size-15px);
    height: var(--size-70px);
    width: var(--size-70px);
}

.card h3 { font-size: var(--size-20px);}

.card p, .card a { font-size: 1.438rem;}

.card p { 
    color: grey;
    line-height: var(--size-30px);
    width: 11.938rem;
    font-size: var(--size-15px);
}

.card a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--size-15px);
}

.premium-head {
    display: flex;
    align-items: center;
}

.premium-head span {
    background-color: rgba(1,200,167,255);
    text-align: center;
    border-radius: 2.25rem;
    height: var(--size-28px);
    width: 4.688rem;
    color: white;
}

.spantxt {
    font-size: var(--size-18px);
    position: relative;
    top: 0.25rem;
}

.front {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--size-100px) var(--size-15px);
    background-color: rgba(249,250,254,255);
}

.front-left {
    display: flex;
    flex-direction: column;
    gap: var(--size-20px);
    position: relative;
    bottom: var(--size-40px);
}

.front-left h2 {
    margin: 0;
    font-size: var(--size-20px);
}

.front-left button {
    background-color: #0c6bff;
    color: white;
    border: none;
    border-radius: var(--size-50px);
    height: var(--size-50px);
    width: var(--size-150px);
    font-size: var(--size-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.313rem;
}

.front img {
    width: 55%;
}

.why-front {
    margin-bottom: var(--size-100px);
}

.why-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: var(--size-100px);
}

.why-text h2 { font-size: var(--size-25px); }

.why-text p {
    color: grey;
    font-size: var(--size-20px);
    width: 40.938rem;
}

.display {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-5px);
    margin: var(--size-100px) var(--size-40px);
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--size-30px);
    color: rgba(0,102,255,255);
	height: var(--size-20px);
	width: var(--size-20px);
	border-radius: 60%;
	background-color: rgba(236,242,255,255);
    padding: 27px;
}

.circle-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-text h2 {
    font-size: var(--size-15px);
    width: 170px;
    text-align: center;
}

.line {
	height: 0.125rem;
	width: 100%;
	background-color: rgba(244,245,249,255);
}

.why-front img {
    max-width: fill-available;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    margin: 0 var(--size-40px);
}

.play-icon i {
    font-size: var(--size-25px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    left: 50vw;
    top: 22vw;
    height: var(--size-70px);
    width: var(--size-70px);
    border-radius: 60%;
    background-color: white;
    box-shadow: 0px 0px 9px 2px grey;
}

.play-icon i::before {
    position: relative;
    left: var(--size-3px);
}

.play-img img {
    margin: 0;
}

.portrait {
    max-width: 25rem;
}

.portrait img:first-of-type {
    max-width: inherit;
    margin-left: 2.688rem;
}

.hubspot {
    display: flex;
    margin: var(--size-150px) var(--size-40px);
    justify-content: space-between;
    align-items: center;
    gap: 5.438rem;
}

.portrait {
    display: flex;
    max-width: 30rem;
    height: max-content;
}

.portrait img:first-of-type {
    max-width: inherit;
    margin-left: 2.688rem;
}

.portrait img:nth-of-type(2) {
    width: 15.75rem;
    height: 31.938rem;
    position: relative;
    right: 570px;
    top: 110px;
    z-index: -1
}

.hubtext {
    width: 51%;
}

.hubtext img {
    width: var(--size-100px);
}

.hubtext p {
    font-size: var(--size-18px);
    margin: var(--size-55px) 0;
    line-height: var(--size-28px);
}

.hubtext h3 {
    font-size: var(--size-20px);
    margin-bottom: 0;
}

.hubtext h4 {
    font-size: var(--size-17px);
    color: grey;
    margin: 0;
}

.brands {
    margin-bottom: var(--size-100px);
}

.brands h2 {
    font-size: var(--size-17px);
    text-align: center;
    color: grey;
    margin-bottom: var(--size-50px);
}

.brandnames {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.brandnames img {
    width: 120px;
}

.pricing {
    margin: 0 var(--size-40px);
}

.pricetext {
    text-align: center;
    margin-bottom: var(--size-100px);
}

.pricetext h2 {
    font-size: var(--size-25px);
}

.pricetext p {
    font-size: var(--size-18px);
    color: grey;
    margin: var(--size-10px);
}

.pricecards {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--size-100px);
    gap: 50px;
}

.maincard {
    box-shadow: 0px 10px 15px 7px lightgrey;
    height: 450px;
}

.cardcontainer { width: 400px; }

.cardTop {
    margin: var(--size-60px) var(--size-20px);
}

.cardTop h2 {
    font-size: var(--size-60px);
    font-weight: initial;
    margin-bottom: var(--size-40px);
}

.cardTop h2 span {
    font-size: var(--size-35px);
    color: grey;
}

.cardTop p {
    width: 340px;
    font-size: var(--size-20px);
    color: grey;
}

.priceButton { margin-left: var(--size-20px); }

.priceButton button {
    background-color: #0c6bff;
    color: white;
    border: none;
    border-radius: var(--size-50px);
    height: var(--size-50px);
    width: var(--size-150px);
    font-size: var(--size-18px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.priceButton p {
    font-size: var(--size-15px);
    color: grey;
}

.pricegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: var(--size-50px);
    row-gap: var(--size-50px);
}

.pricegrid img {
    height: var(--size-70px);
}

.griditem h2 {
    font-size: var(--size-18px);
    display: flex;
    align-items: center;
    gap: 5px;
}

.griditem h2 span  {
    background-color: rgba(1, 200, 167, 255);
    text-align: center;
    border-radius: 2.25rem;
    height: var(--size-20px);
    width: 4.688rem;
    color: white;
    display: block;
}

.griditem p {
    color: grey;
    font-size: var(--size-15px);
}

.people img {
    width: var(--size-70px);
    height: var(--size-70px);
}

.hf {
    background-color: rgba(32, 51, 91, 255);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--size-100px);
}

.hireus { margin-left: var(--size-60px); }

.toptext { width: 200px; }

.toptext  h2 {
    color: white;
    font-size: var(--size-30px);
    margin: 0;
}

.toptext p {
    margin-bottom: var(--size-30px);
    color: #54657c;
    font-size: var(--size-20px);
    width: 200px;
}

.quote {
    font-size: var(--size-18px);
    color: white;
    width: 360px;
    margin-bottom: var(--size-70px);
}

/* FIX HR WIDTH */

.title h3 {
    font-size: var(--size-18px);
    color: white;
    margin-bottom: 0;
}

.title h4 {
    margin-top: 8px;
    font-weight: initial;
    font-size: var(--size-18px);
    color: #54657c;
}

.people { 
    display: flex;
    align-items: center;
}

.people img {
    border-radius: var(--size-35px);
    width: var(--size-55px);
    height: var(--size-55px);
}

.people img:nth-of-type(2) {
    margin: 0 var(--size-30px);
}

.people img:nth-of-type(3) {
    border-radius: 45px;
    height: var(--size-70px);
    width: var(--size-70px);
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, var(--size-60px));
    gap: var(--size-30px);
    background-color: white;
    border-radius: var(--size-20px);
    padding: var(--size-30px);
    margin: var(--size-40px);
    width: 450px;
}

form h3 {
    grid-column: 1 / span 2;
    font-size: var(--size-17px);
}

form input, select, textarea {
    border-radius: var(--size-5px);
}

form textarea {
    grid-column: 1 / span 2;
    grid-row: 5 / 7;
}

.checkbox {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
}

input#myCheckbox {
    transform: scale(2);
    margin-left: var(--size-17px);
    color: rgba(137, 137, 137, 255);
}

.checkbox h4 {
    color: grey;
    font-size: var(--size-15px);
    padding-left: var(--size-10px);
}

.privf, .privs { 
    justify-self: center; 
    font-size: var(--size-18px);
    color: rgba(137, 137, 137, 255);
    height: fit-content;
    border-bottom: none;
    background-image: linear-gradient(to right, grey 20%, rgba(255, 255, 255, 0) 0%);
    background-position: 0 bottom;
    background-repeat: repeat-x;
    background-size: 11px 2px;
    text-decoration: none;
    grid-row: 8 / 9;
}

.privs {
    color: blue;
}


form button {
    width: var(--size-150px);
    grid-column: 1 / span 2;
    grid-row: 9 / 10;
    justify-self: center;
    border-radius: var(--size-35px);
    background-color: rgba(36, 118, 254, 255);
    color: white;
    font-size: var(--size-17px);
    border: none;
}

footer {
    margin: 0 var(--size-40px);
}

.footertop {
    margin-bottom: var(--size-50px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-50px);
}

.ftop-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-20px);
}

.ftop-left img {
    height: 2.813rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-50px);
}

.company, .company-links, 
.features, .featureslinks, 
.documentations, .documentationlinks, 
.resources, .resourceslinks {
    display: flex;
    flex-direction: column;
    gap: var(--size-20px);
}

footer h3 {
    font-size: var(--size-25px);
    margin-bottom: 0;
}

footer h4, footer a, footer i {
    font-size: var(--size-17px);
    color: rgba(109,124,139,255);
    /* convert all text base colors to this */
    text-decoration: none;
    font-weight: initial;
}

.career-link {
    text-decoration: none;
    position: relative;
}

.hiring-text {
    border: none;
    background-color: rgba(46, 124, 254, 1);
    color: white;
    font-size: 0.563rem;
    display: inline-block;
    height: auto;
    width: auto;
    padding: 4px 7px;
    border-radius: var(--size-3px);
    margin-left: 0.5rem; 
    line-height: 1;
    position: relative;
    bottom: var(--size-3px);
}

.footertop i {
    font-size: 0.875rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--size-5px);
    height: var(--size-25px);
}

.footerbot {
    text-align: center;
}

.footerbot-sociallinks select {
    background-color: rgba(239, 244, 254, 255);
    border: none;
    height: var(--size-35px);
    width: 8.125rem;
    font-size: var(--size-15px);
}

.bottop {
    display: flex;
    justify-content: space-between;
}


.footerphone h4, 
.featureslinks a:nth-of-type(2),
.bottop h4 span {
    color: blue;
}


/* BEFORE SUBMITTING MAKE ROOT VARIABLES AND ADJUST */